<!-- index.hbs -->
<h1>The server is running!</h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{{!-- Create a table --}}
<table>
<table id="transactions-table">


    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the transaction id, time, cost, customer id and  payment type --}}
        {{#each data}}
        <tr data-value={{this.id}}>
            <td>{{this.transactionID}}</td>
            <td>{{this.timeStamp}}</td>
            <td>{{this.totalCost}}</td>
            <td>{{this.customerID}}</td>
            <td>{{this.paymentType}}</td>
            <td><button onclick="deleteTransaction({{this.id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_transaction.js"></script>

<!-- /views/index.hbs -->

{{!-- Form to add a record to the table  --}}
<h2>Adding Data with AJAX</h2>
<p>To add a new transaction, please enter their information below and click 'Submit'!</p>
<form id="add-transaction-form-ajax">
    <label for="input-timeStamp">Time: </label>
    <input type="text" name="input-timeStamp" id="input-timeStamp">
    
    <label for="input-totalCost">Total Cost: </label>
    <input type="text" name="input-totalCost" id="input-totalCost">

    <label for="input-customerID">Customer ID: </label>
    <input type="number" name="input-customerID" id="input-customerID">

    <label for="input-paymentType">Payment Type </label>
    <input type="text" name="input-paymentType" id="input-paymentType">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_transaction.js"></script>

<h2>Updating A Transaction Form</h2>
<form id="update-transaction-form-ajax">

    <label for="input-transaction-id">Transaction ID: </label>
    <select name="input-transactionID" id="transactionSelect">
        <option value="0">Select a Transaction</option>
        {{#each transaction}}
        <option value="{{this.transactionID}}">{{this.transactionID}}</option>
        {{/each}}
    </select>

    <label for="input-totalCost">Total Cost: </label>
    <input type="text" name="input-totalCost" id="input-totalCost">

    <label for="input-customerID">Customer ID: </label>
    <input type="text" name="input-customerID" id="input-customerID">

    <label for="input-paymentType">Payment Type: </label>
    <input type="text" name="input-paymentType" id="input-paymentType">

    <input type="submit" value="Update Transaction">

</form>

<script src="./js/update_transaction.js"></script>
